body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Heebo', sans-serif;
}

nav {
  background-image: linear-gradient(rgb(0, 168, 240), rgb(223, 141, 171));
  font-family: 'Permanent Marker', cursive;
}

#title {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.6rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(223, 141, 171) !important;
  border-color: rgb(223, 141, 171) !important;
}

.btn-primary:hover{
  background-color: rgb(211, 109, 128) !important;
  border-color: rgb(211, 109, 128) !important;
}

#company-show-container { 
  display: grid; 
  grid-template-columns: .5fr .25fr 1fr .25fr .5fr; 
  grid-template-rows: .5fr .5fr .5fr; 
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

#company-display-container { 
  margin-top: 20px;
  grid-area: 1 / 2 / 2 / 5;
}

#company-display {
  text-align: center; 
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  padding-bottom: 40px;
}

#new-review-hidden { 
  display: none;
 } 

 #new-review {
  grid-area: 2 / 3 / 3 / 4;
  
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;

 }

#review-container { 
  grid-area: 3 / 2 / 4 / 5; 
  text-align: center;
} 

#review-container-hidden { 
  grid-area: 2 / 2 / 3 / 5; 
  text-align: center;
} 

#company-img {
  
  text-align: center;
  width: 1fr;
}

#company-img img {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right:auto
}

#company-name {
  font-size: 3em;
  font-weight: bold;
}

body {
  background-image: url("images/full-bloom.png")
}

.container {
  background-color: white;
  border-radius: 25px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.review {
  padding: 20px 20px 20px 15px;
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.review:hover{
  cursor: pointer;
  position: relative; 
  top: -5px;
}

#search-container {
  display: grid; 
  grid-template-columns: 1fr .5fr 2fr .5fr 1fr; 
  grid-template-rows: .5fr 1fr .2fr 1fr 1fr; 
}

#search { 
  grid-area: 3 / 3 / 4 / 4; 
  text-align: center;
  padding: 20px 20px 20px 20px;
  
} 
  
.searchform {
  display: inline-block;
}

#search-input {
  width: auto;
}

.search-result {
  margin: 50px 50px 50px 0px;
  text-align: center;
  padding: 15px 10px 10px 10px;
}

.search-result:hover {
  cursor: pointer;
  position: relative; 
  top: -5px;
}

#logo-container {
  grid-area: 2 / 3 / 2 / 3;
  padding-bottom: 20px; 
}

.image-container img {
  display: block;
  max-width: 75%;
  margin-left: auto;
  margin-right:auto
}

#results-container-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  text-align: center;
   
}

#results-container {
  grid-area: 1 / 2 / 6 / 3; 
  display: inline-block;
}

#company-link {
  cursor: pointer;
}

#new-company-form {
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
}

#edit-button{
  position: relative;
  margin-left: 24rem;
}

@media (max-width: 774px) {

  #search-container {
    display: grid; 
    grid-template-columns: .15fr 2fr .15fr; 
    grid-template-rows: .1fr 1fr .2fr 1fr 1fr; 
  }
  
  #search { 
    grid-area: 3 / 2 / 4 / 3; 
    text-align: center;
    padding: 20px 20px 20px 20px;
    
  } 

  #company-show-container { 
    display: grid; 
    grid-template-columns: .05fr .05fr 1fr .05fr .05fr; 
    grid-template-rows: .5fr .5fr .5fr; 
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  
  #company-display-container { 
    margin-top: 20px;
    grid-area: 1 / 2 / 2 / 5;
  }

  #logo-container {
    grid-area: 2 / 2;
    padding-bottom: 20px; 
  }
}